<article class="post">
    <div class="post-title">
        <span><a href="/post/{{id}}">{{title}}</a></span>
        <p class="post-username">Posted by {{user.username}} on {{format_date created_at}}</p>
    </div>
    <div class="post-text">
        <p>{{post_text}}</p>
    </div>
</article>